@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.nav-title {
  font-family: "Crimson Text", serif;
  font-weight: 800;
  font-size: 24px;

  padding: 15px 20px !important;
}

.nav-item {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  padding: 13px 16px;
}

.nav {
  background: blue;
}
